<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Time Travel Music Player</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
    <script>
      function read_infos() {
        $.ajax({
          type: "GET",
          url: "/tracks",
          data: {},
          success: function (response) {
            // /tracks에 있는 정보 받아와서 변수 처리, body에서 보여주기
            let tracks = response["tracks"]["items"];
            for (let i = 0; i < tracks.length; i++) {
              let track_title = tracks[i]["name"];
              let album_name = tracks[i]["album"]["name"];
              let album_image = tracks[i]["album"]["images"][0]["url"];
              let artist_name = tracks[i]["artists"][0]["name"];
              let preview_url = tracks[i]["preview_url"];
              make_card(
                track_title,
                album_name,
                album_image,
                artist_name,
                preview_url
              );
            }
          },
        });
      }
      function make_card(
        track_title,
        album_name,
        album_image,
        artist_name,
        preview_url
      ) {
        let tempHtml = `<div class="card">
              <img
                class="card-img-top"
                src="${album_image}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">${track_title}</h5>
                <p class="card-text">
                  ${album_name} by ${artist_name}
                </p>
                <audio controls="controls">
                  <source
                    src="${preview_url}"
                    type="audio/mp3"
                  />
                </audio>
              </div>
            </div>`;
        $("#tracks_info").append(tempHtml);
      }
    </script>

    <!-- css -->
    <style>
      h1 {
        font-family: "East Sea Dokdo", cursive;
      }
      * {
        font-family: "Noto Sans KR", sans-serif;
      }
      .header {
        width: 80%;
        margin: 30px auto 30px auto;
        align-items: center;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <h1>🚀시간여행 플레이어</h1>
        <button type="button" class="btn btn-danger" onclick="read_infos()">
          Browse
        </button>
      </div>
      <div class="player">
        <div class="tracks_cards">
          <div class="card-columns" id="tracks_info"></div>
        </div>
      </div>
    </div>
  </body>
</html>
